<div class="form-popup" id="myForm">
  <form [formGroup]="changeProductForm" class="form-container">

    <label for="name"><b>Id</b></label>
    <input type="text" placeholder="Enter product-id" formControlName="id" name="id" required>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter name" formControlName="name" name="name" required>

    <label for="description"><b>Description</b></label>
    <input type="text" placeholder="Enter description" formControlName="description" name="description" required>

    <label for="price"><b>Price</b></label>
    <input type="text" placeholder="Enter price" name="price" formControlName="price" required>

    <label for="image"><b>Image</b></label>
    <input type="text" placeholder="Enter image path" name="image" formControlName="image" required>

    <button type="submit" class="btn" (click)="editProduct()">Bijwerken</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Sluit venster</button>
  </form>
</div>

<div class="form-popup" id="addForm">
  <form [formGroup]="addProductForm" class="form-container">

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter name" formControlName="name" name="name" required>

    <label for="description"><b>Description</b></label>
    <input type="text" placeholder="Enter description" formControlName="description" name="description" required>

    <label for="price"><b>Price</b></label>
    <input type="text" placeholder="Enter price" name="price" formControlName="price" required>

    <label for="image"><b>Image</b></label>
    <input type="text" placeholder="Enter image path" name="image" formControlName="image" required>

    <button type="submit" class="btn" (click)="addProduct()">Voeg product toe</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Sluit venster</button>
  </form>
</div>

<div class="body" >
    <div class="container">
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo1"> 

                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[0].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[0].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[0].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6"> 
                    <a (click)="openForm();" class="btn btn-success">Bewerk</a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6"> 
                    <a (click)="deleteProduct(1);" class="btn btn-success" id="1">Verwijder</a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo2"> 

                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[1].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[1].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[1].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(2);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo3"> 

                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[2].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[2].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[2].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(3);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo4"> 

                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[3].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[3].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[3].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(4);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo5"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[4].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[4].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[4].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(5);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo6"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[5].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[5].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[5].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(6);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo7"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[6].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[6].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[6].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(7);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo8"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[7].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[7].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[7].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(8);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo9"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[8].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[8].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[8].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(9);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo10"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[9].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[9].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[9].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(10);" class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo11"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[10].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[10].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[10].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(11);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <!-- product -->
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image"> 
                  <img alt="194x228" class="img-responsive" [src]="logo12"> 
                  <!-- <span class="tag2 hot">
                    HOT
                  </span>  -->
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="product-deatil">
                  <h5 class="name">
                    <a>
                      {{ product[11].title }} <span>Huishoudelijk</span>
                    </a>
                  </h5>
                  <p class="price-container">
                    <span>€{{ product[11].price }}</span>
                  </p>
                  <span class="tag1"></span> 
              </div>
              <div class="description">
                <p>{{ product[11].description }} </p>
              </div>
              <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a href="javascript:void(0);" class="btn btn-success">Bewerk</a>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6"> 
                        <a (click)="deleteProduct(12);"  class="btn btn-success">Verwijder</a>
                      </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="rating">
                      <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                      <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                      <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
      <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        <div class="product-content product-wrap clearfix">
          <div class="row">
              <div class="product-info smart-form">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6"> 
                    <a (click)="openAddForm();" class="btn btn-success" id="1">Voeg een product toe</a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6"> 
                    <a (click)="deleteAllProduct();" class="btn btn-success" id="1">Verwijder alle producten</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
          <div class="product-content product-wrap clearfix">
            <div class="row">
                <div class="product-info smart-form">
                  <div class="row">
                    <!-- <div class="col-md-6 col-sm-6 col-xs-6"> 
                      <a (click)="openAddForm();" class="btn btn-success" id="1">Voeg een product toe</a>
                    </div> -->
                    <div class="col-md-6 col-sm-6 col-xs-6"> 
                      <a (click)="  deleteAllOrders();" class="btn btn-success" id="1">Verwijder alle bestellingen</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
    </div>
  </div>
  
  <router-outlet></router-outlet>

