<div class="jumbotron text-center">
    <h1>⚡ Klectric</h1> 
    <p>Specialisten in elektrische circuits</p> 
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" id="sign-in" class="btn btn-danger" (click)="clickMe()">LOG IN</button>
        </div>
      </div>
    </form>
  </div>
  
  <div class="container-fluid text-center">
    <h2>Onze pijlers</h2>
    <h4>Wat hebben wij als Klectric aan u als klant te bieden hebben!</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon glyphicon-euro logo-small"></span>
        <h4>GOEDE PRIJSKWALITEIT</h4>
        <p>Bij ons betaal je niet te veel voor producten</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>PASSIE</h4>
        <p>Wij als Klectric zijn gepassioneerd om ten alle tijden goede producten te leveren</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-thumbs-up logo-small"></span>
        <h4>TEVREDEN KLANTEN</h4>
        <p>Onze klanten zijn tevreden over onze producten</p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
        <h4>SNELLE BEZORGING</h4>
        <p>Vandaag voor 16:00 besteld = morgen in huis</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-thumbs-down logo-small"></span>
        <h4>GARANTIE</h4>
        <p>Niet goed = geld terug</p>
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Utrecht, the Netherlands</p>
        <p><span class="glyphicon glyphicon-phone"></span> +030 12345678</p>
        <p><span class="glyphicon glyphicon-envelope"></span> support@klectric.com</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>